body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

header {
	background-color: lightblue;
	color: #fff;
	padding: 20px;
}

h1 {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	display: inline-block;
	margin-right: 20px;
}

section {
	padding: 20px;
}

section h3 {
	margin-top: 0;
}

section ul {
	margin-top: 10px;
}

section ul li {
	margin-bottom: 10px;
}
